-r requirements.test.txt
ipdb
ipdbplugin
ipython

# Load tmuxp for multi panels displaying
tmuxp

# Black code formatter
black

-e git+https://github.com/AnyBlok/anyblok_postgres.git#egg=anyblok_postgres
